body {
    background-image: url("https://cdn.pixabay.com/photo/2020/04/20/10/52/code-5067826_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
@font-face {
  font-family: TheGoodMonolith;
  src: url(TheGoodMonolith.ttf);
}
.HeadingName {
color: black;
padding-left: 10%;
padding-top: 30%;
opacity: 1;
font-family: 'TheGoodMonolith', sans-serif;
font-size: 50px;
}


.Headingsubtext {
color: black;
padding-left: 10%;
opacity: 1;
font-family: 'TheGoodMonolith', sans-serif;
font-size: 30px;

}

.section1 {
    background-color:white;
    width: 35%;
    height: 90vh;
    opacity: 0.7;
}

.Headingyear{
color: black;
padding-left: 5%;
padding-top: 43%;
opacity: 1;
font-size: 20px;
font-family: 'TheGoodMonolith', sans-serif;
}

/* Dropdown Button */
.dropbtn {
    padding: 16% ;
    color: black;
    font-size: 16px;
    width: 60px;
  

  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 570px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'TheGoodMonolith', sans-serif;
  opacity: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 30px;
  }
  
 
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
 
  