body {
    background-image: url("https://cdn.pixabay.com/photo/2020/04/20/10/52/code-5067826_1280.jpg");
   
}
.HeadingName {
color: white;
padding-left: 10%;
padding-top: 37%;
opacity: 100%;
font-family: 'TheGoodMonolith', sans-serif;
}


.Headingsubtext {
color: white;
padding-left: 10%;
opacity: 100%;
font-family: 'TheGoodMonolith', sans-serif;
}

.section1 {
    background-color:black;
    width: 35%;
    height: 500px;
    opacity: 90%;
}